@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,400;0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;700&display=swap');

html, body{
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: .08px;
}
/* index.html start*/

/* landing page start */
.image-one img{
    max-width: 100%;
    /* background-image: linear-gradient(red,yellow); */
    opacity: .8;
    /* backface-visibility: hidden; */
}

.landing-img-text h4{
    position: relative;
    top: -370px;
    font-size: 3rem;
    color: rgba(0, 0, 0, .7);
}

.landing-img-text span{
    position: relative;
    top: -370px;
    font-size: 3rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .7);
}

.landing-img-text p{
    position: relative;
    top: -370px;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .7);
}

.landing-img-text a{
    position: relative;
    top: -370px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .7);
}

.student-button, .tutor-button{
    width: 10rem;
    padding: 10px;
}

.guardian-button{
    width: 13rem;
    padding: 10px;
}

.login-button{
    width: 14rem;
    margin-right: -50px;
}

/* .login-button .fa-chevron-down{
    font-size: large;
} */
/* landing page end */


/* apply section start */
.section-edit{
    margin-top: -250px;
}
.icon-container{
    color: white;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    font-size: 30px;
    padding: 20px;
}

.icon-item-three img{
    margin-left: 11px;
}

.learn-icon{
    margin-left: -40px;
}

.online-tests h4, .instruction h4{
    font-weight: 400;
}

.online-tests p{
    margin-left: -60px;
}

.instruction h4{
    margin-left: -35px;
}

.instruction p{
    margin-left: -60px;
}

.apply{
    width: 10rem;
}

.access h4{
    margin-left: -10px;
    font-weight: 400;
}

.access p{
    margin-left: -23px;
}

/* apply section end */

/* ace your kcpes start */
.kcpe h1, .kcse h1, .hadithi h1{
    color: rgba(2, 117, 216, .7);
    font-size: 3.4rem;
}

.kcpe img{
    width: 100px;
}

.kcpe p, .kcse p, .hadithi p{
    font-size: 1.6rem;
    font-weight: 200;
}

.kcse img{
    width: 120px;
    margin-top: -60px;
}

.hadithi img{
    width: 100px;
}

.learn h4, .earn h4{
    color: rgba(2, 117, 216, .8);
    font-weight: 600;
}

.learn h4{
    margin-left: -10px;
}

.learn p{
    margin-left: -110px;
    font-weight: 400;
}

.learn a{
    width: 13rem;
    margin-left: -80px;
}

.earn h4{
    margin-left: 40px;
}

.earn p{
    margin-left: -80px;
    font-weight: 400;
}

.earn a{
    width: 13rem;
    margin-left: -20px;
}

/* ace your kcpes end */

/* footer start */
.footer{
    background-color: rgba(16, 29, 44, 1);
}

.footer p{
    color: rgba(255, 255, 255, .8);
    font-weight: 500;
}

.contacts{
    list-style: none;
}

.location img{
    width: 20px;
}

.location span, .phone span, .email span{
    font-size: 1.25rem;
    color: rgba(255, 255, 255, .8);
    font-weight: 500;
}

.phone img, .email img{
    width: 24px;
}

.horizontal-line{
    border: 1px solid rgba(255, 255, 255, 0);
    max-width: 1100px;
}

.footer-about, .footer-subjects, .footer-past-papers, .footer-contact-us, .footer-terms, .footer-privacy{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, .8);
    margin-right: 32px;

}

.linkedin, .facebook, .twitter, .whatsapp{
    width: 30px;
    margin-right: 25px;
}

.linkedin{
    margin-left: 65px;
}

/* footer end */

/* index.html end */



/* login.html start */
.login-card .card{
    width: 600px;
}
.form-heading h4{
   font-size: 3rem;
   font-weight: 700;
   color: rgba(2, 117, 216, .8);
}

.form-heading p{
    font-weight: 200;
}

.form-group input{
    font-weight: 300;
}

.account-checking, .account-checking a{
    text-decoration: none;
    font-weight: 300;
}

.student-login-confirm{
    width: 10rem;
    
}

.login-links a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.eye-icon{
    width: 30px;
    margin: -75px 0 0 500px;
}

.login-logo-insert{
    margin-left: -50px;
}

.small-text small{
    font-weight: 300;
    margin-left: -50px;
}

.small-text-two{
    margin-top: -3px;
}
/* login.html end */



/* .student-signup.html start  */
.student-signup-card .card{
    margin-left: -210px; 
    width: 768px;   
}

.student-signup h4{
    font-size: 3rem;
   font-weight: 700;
   color: rgba(2, 117, 216, .8);
   margin-left: 10px;

}

.student-signup span{
    font-size: 1.4rem;
    font-weight: 200;
}

.signup-email-width{
    width: 39.5rem;
}

.create-student-account{
    margin-left: 170px;

}

.start-learning{
    margin-left: 349px;
}

.student-signup-register-button a{
    width: 10rem;
}

/* .student-signup.html end  */


/* sms_confirmation.html start */
.sms-confirm a{
    width: 10rem;
}

/* sms_confirmation.html end */



/* subjects.html start */

.avatar-raw-1{
    width: 45px;
}

.profile-img img{
    margin-right: -45px;
}

.profile-img span{
    font-weight: 500;
}

.subjects a{
    text-decoration: none;
    font-weight: 500;
}

.dropdown.details a{
    background-color: rgba(0, 0, 0, .95);
    width: 13rem;
    height: 3rem;
}

.english-img{
    width: 85px;
}

.english, .kiswahili, .maths, .science, .cre, .social-studies{
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
}

.social-studies-img{
    margin-left: 13px;
}

.icon-dropdown{
    width: 23px;
}

.subjects-click a{
    text-decoration: none;
}
.dropdown-icon-spacing{
    margin-left: 65px;
}

/* subjects.html end */



/* english topics start */

.english-topic h5{
    font-weight: 400;
    font-size: 1.3rem;

}

.pages span{
    margin-left: 12rem;
    font-weight: 200;
    font-size: 1.4rem;
}

.grammar-icon-spacing{
    margin-left: 5rem;
}

.kcpe-model-icon{
    width: 32px;
}

.essay-questions-icon{
    width: 40px;
}

.icons a{
    text-decoration: none;
}

/* english topics end */



.grammar p, 
.questions p, 
.score-analysis p, 
.my-profile p, 
.account-topup p,
.payment-option p,
.tutors p{
    font-weight: 500;
}


.dropdown a, .proceed-button a{
    padding: .7rem;
    color: white;
    background-color: rgba(2, 117, 216, .8);
    text-decoration: none;
    font-weight: 500;
    width: 9rem;
}

.grammar-content li{
    list-style: none;
}

.grammar-content span{
    font-weight: 400;
}

.timer button{
    margin-right: 10rem;
    padding: .7rem;
    color: rgba(2, 117, 216, .8);
    border: 2px solid rgba(2, 117, 216, .8);
    text-decoration: none;
    font-weight: 500;
    width: 15rem;
}

.numbering span{
    color: rgba(2, 117, 216, .8);
    font-size: 3rem;
}

.quiz span{
    font-size: 1.6rem;
}

.question-one span{
    font-size: 1.3rem;
}

.alphabetical-numbering span, .roman-numbering span{
    font-size: 1.3rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
opacity: 0;
width: 0;
height: 0;
}  
 
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}
  
.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
  
input:checked + .slider {
background-color: #2196F3;
}
  
input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
border-radius: 50%;
}

.back a, .next a {
    padding: .7rem;
    background-color: rgba(2, 117, 216, .8);
    text-decoration: none;
    font-weight: 500;
    width: 10rem;
}

.show-working a, .take-another-test a{
    padding: .7rem;
    background-color: rgba(2, 117, 216, .8);
    text-decoration: none;
    font-weight: 500;
    width: 12rem;
}

.correct i, .wrong i, .stop-watch i{
    font-size: 2rem;
    color: rgba(2, 117, 216, .8);
}

.correct p, .wrong p, .stop-watch p, .analytics span{
    font-weight: 400;
}

.fa-chart-line{
    color: rgba(2, 117, 216, .8);
    font-size: 1.3rem;
}

.fa-long-arrow-alt-up{
    font-size: 1.2rem;
}

.result{
    border: 3px solid rgba(2, 117, 216, .8);
    border-radius: 80%;
    font-size: 8rem;
}

.result span{
    font-size: 6rem;
    margin-left: 3.1rem;
    /* transform: translateX(80%); */
    /* top: 12rem; */
    color: rgba(2, 117, 216, .8);
}

.result p{
    font-size: 2.2rem;
    margin-left: 5.5rem;

}

.card{
    border: 1px solid #fff;
    border-radius: 8px;
}

.card-title{
    color: rgba(2, 117, 216, .8);
}
.card-avatar{
    background-color: rgba(2, 117, 216, .8);
}

.total-questions-done i{
    font-size: 1.5rem;
}

.total-questions-done .count{
    font-weight: 500;
    color: rgba(2, 117, 216, .8);
}

.total-questions-done .total{
    font-weight: 500;
}

.total a{
    text-decoration: none;
}

.save{
    background-color: rgba(2, 117, 216, .8);
}

.tutor{
    font-weight: 500;
    margin-left: 2.45rem;
}

.tabular-analysis h4{
    color: rgba(2, 117, 216, .8);
}

.credentials span{
    font-size: 1.3rem;
}

.back-button, .checkout{
    background-color: rgba(2, 117, 216, .8);
    width: 10rem;
}

.back-payment-option-button, .complete{
    background-color: rgba(2, 117, 216, .8);
    width: 10rem;
}

.search-results span{
    margin-left: 7rem;
    font-weight: 500;
}

.tutors p{
    font-weight: 500;
}

.refine{
    background-color: rgba(2, 117, 216, .8);
    width: 10rem;   
}

.subject-skillset a{
    background-color: rgba(2, 117, 216, .8);
    width: 9rem;  
}

/* search button */
form.search-button input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  

form.search-button button {
float: left;
width: 20%;
padding: 10px;
color: grey;
font-size: 15px;
border: 1px solid grey;
border-left: none; 
cursor: pointer;
}
  
  
  
