/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

html, body{
    min-height: 100vh;
    box-sizing: border-box;
    letter-spacing: .05rem;
    padding: 0;
}

/* .image-one{
    background-color: #eee;
    background: url(images/library.jpg) no-repeat fixed;
    background-size: cover;
} */
/* .image-one img{
    width: 1300px;
    background-size: cover;
} */

/* .hero{
    width: 100%;
	height: 70vh;
	background-size: cover;
    position: relative;
} */

/* .main-heading span{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(200px, -500px);
} */

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-img span{
    color: rgba(2, 117, 216, .8);
    font-weight: 500;
}

.dropdown.details a{
    background-color: rgba(16, 29, 44, 1);
    width: 13rem;
    height: 3rem;
}
.kcpe, .kcse, .form-heading h4, .student-signup h4{
    color: rgba(2, 117, 216, .8);
}

.icon-container i{
    color: white;
    border: 1px solid rgba(2, 117, 216, 1);
    border-radius: 50%;
    font-size: 60px;
    padding: 30px;
    background-color: rgba(2, 117, 216, .8);
}

.online-tests p{
    margin-left: -60px;
}

.instruction h4{
    margin-left: -35px;
}

.instruction p{
    margin-left: -60px;
}

.access h4{
    margin-left: -30px;
}

.access p{
    margin-left: -40px;
}

.login, .learn a, .earn a, .confirm{
    background-color: rgba(2, 117, 216, .8);
    color: white;
}

.apply{
    background-color: rgba(2, 117, 216, .8);
    width: 9rem;
}

.learn h4, .earn h4{
    color: rgba(2, 117, 216, .8);
}

.learn p{
    margin-left: -55px;
}

.learn a{
    background-color: rgba(2, 117, 216, .8);
    color: white;
    margin-left: -10px;
}

.earn h4{
    margin-left: 40px;
}

.earn p{
    margin-left: -80px;
}

.footer{
    background-color: rgba(16, 29, 44, 1);
}

.contacts{
    list-style: none;
}

hr{
    max-width: 1100px;
}

.social-media i{
    font-size: 20px;
}

.login-persons a, .account-checking a{
    color: rgba(2, 117, 216, .8);
    text-decoration: none;
}

.sms-confirm a, .student-login-confirm a{
    padding: .7rem;
    color: white;
    background-color: rgba(2, 117, 216, .8);
    text-decoration: none;
    font-weight: 400;
}

.subjects a{
    text-decoration: none;
    font-weight: 400;
}

.english p, .kiswahili p, .maths p, .social-studies p, .science p, .cre p{
    font-weight: 400;
    text-decoration: none;
}

.maths p, .cre p{
    margin-left: 40px;
}

.english-topic p, 
.grammar p, 
.questions p, 
.score-analysis p, 
.my-profile p, 
.account-topup p,
.payment-option p,
.tutors p{
    font-weight: 500;
}

.pages span{
    margin-left: 6rem;
}

.icons i{
    font-size: 3.5rem;
    color: rgba(2, 117, 216, .8);
}

.icons a{
    text-decoration: none;
}

.dropdown a, .proceed-button a{
    padding: .7rem;
    color: white;
    background-color: rgba(2, 117, 216, .8);
    text-decoration: none;
    font-weight: 500;
    width: 9rem;
}

.grammar-content li{
    list-style: none;
}

.grammar-content span{
    font-weight: 400;
}

.timer button{
    margin-right: 10rem;
    padding: .7rem;
    color: rgba(2, 117, 216, .8);
    border: 2px solid rgba(2, 117, 216, .8);
    text-decoration: none;
    font-weight: 500;
    width: 15rem;
}

.numbering span{
    color: rgba(2, 117, 216, .8);
    font-size: 3rem;
}

.quiz span{
    font-size: 1.6rem;
}

.question-one span{
    font-size: 1.3rem;
}

.alphabetical-numbering span, .roman-numbering span{
    font-size: 1.3rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
opacity: 0;
width: 0;
height: 0;
}  
 
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}
  
.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
  
input:checked + .slider {
background-color: #2196F3;
}
  
input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
border-radius: 50%;
}

.back a, .next a {
    padding: .7rem;
    background-color: rgba(2, 117, 216, .8);
    text-decoration: none;
    font-weight: 500;
    width: 10rem;
}

.show-working a, .take-another-test a{
    padding: .7rem;
    background-color: rgba(2, 117, 216, .8);
    text-decoration: none;
    font-weight: 500;
    width: 12rem;
}

.correct i, .wrong i, .stop-watch i{
    font-size: 2rem;
    color: rgba(2, 117, 216, .8);
}

.correct p, .wrong p, .stop-watch p, .analytics span{
    font-weight: 400;
}

.fa-chart-line{
    color: rgba(2, 117, 216, .8);
    font-size: 1.3rem;
}

.fa-long-arrow-alt-up{
    font-size: 1.2rem;
}

.result{
    border: 3px solid rgba(2, 117, 216, .8);
    border-radius: 80%;
    font-size: 8rem;
}

.result span{
    font-size: 6rem;
    margin-left: 3.1rem;
    /* transform: translateX(80%); */
    /* top: 12rem; */
    color: rgba(2, 117, 216, .8);
}

.result p{
    font-size: 2.2rem;
    margin-left: 5.5rem;

}

.card{
    border: 1px solid #fff;
    border-radius: 8px;
}

.card-title{
    color: rgba(2, 117, 216, .8);
}
.card-avatar{
    background-color: rgba(2, 117, 216, .8);
}

.total-questions-done i{
    font-size: 1.5rem;
}

.total-questions-done .count{
    font-weight: 500;
    color: rgba(2, 117, 216, .8);
}

.total-questions-done .total{
    font-weight: 500;
}

.total a{
    text-decoration: none;
}

.save{
    background-color: rgba(2, 117, 216, .8);
}

.tutor{
    font-weight: 500;
    margin-left: 2.45rem;
}

.tabular-analysis h4{
    color: rgba(2, 117, 216, .8);
}

.credentials span{
    font-size: 1.3rem;
}

.back-button, .checkout{
    background-color: rgba(2, 117, 216, .8);
    width: 10rem;
}

.back-payment-option-button, .complete{
    background-color: rgba(2, 117, 216, .8);
    width: 10rem;
}

.search-results span{
    margin-left: 7rem;
    font-weight: 500;
}

.tutors p{
    font-weight: 500;
}

.refine{
    background-color: rgba(2, 117, 216, .8);
    width: 10rem;   
}

.subject-skillset a{
    background-color: rgba(2, 117, 216, .8);
    width: 9rem;  
}

/* search button */
form.search-button input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  

form.search-button button {
float: left;
width: 20%;
padding: 10px;
color: grey;
font-size: 15px;
border: 1px solid grey;
border-left: none; 
cursor: pointer;
}
  
  
  
